VisualElement {
}

Button {
    color: rgba(98, 0, 255, 255);
	-unity-font-style: bold;
	font-size : 20px;
}

Button:hover {
	background-color: green;
	color: rgba(0, 0, 0, 255);
	font-size : 30px;
}

Button:selected {
    background-color: yellowgreen;
}

Button:inactive{
	background-color:aquamarine;
}

Button:focus{
	background-color:pink;
}

Button:disabled{
	background-color:orange;
	
}

Label {
    color: rgb(0, 0, 0);
}
